{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Attention check
{% endblock %}

{% block styles %}
<link href="{% static 'global/instructions.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script>
    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("attention", "true")
</script>
{% endblock %}

{% block content %}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsInv.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<form>
    <div class="form-group required">
        <label class="col-form-label" for="id_testq_0">Your bonus payment equals ...</label>
        <div class="controls  field-testq">
            <ul id="id_testq">
                <li>
                    <label for="id_testq_0">
                        <input type="radio" name="test1" value="1" required="" id="id_testq_0" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                        ... your kept endowment.
                    </label>
                </li>

                <li>
                    <label for="id_testq_1">
                        <input type="radio" name="test1" value="2" required="" id="id_testq_1" class="form-check-input" onclick="document.getElementById('id_testq_0').setCustomValidity('')">
                     ... your kept endowment plus the return to investment.
                    </label>
                </li>

                <li>
                    <label for="id_testq_2">
                        <input type="radio" name="test1" value="3" required="" id="id_testq_2" class="form-check-input" onclick="document.getElementById('id_testq_0').setCustomValidity('')">
                     ... 100 Pence.
                    </label>
                </li>

                <li>
                    <label for="id_testq_3">
                        <input type="radio" name="test1" value="4" required="" id="id_testq_3" class="form-check-input" onclick="document.getElementById('id_testq_0').setCustomValidity('')">
                     ... your return to investment.
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-form-label" for="id_testq_2_0">The return to investment is higher ...</label>
        <div class="controls  field-testq">
            <ul id="testq_2">
                <li>
                    <label for="id_testq_2_0">
                        <input type="radio" name="test2" value="1" required="" id="id_testq_2_0" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                        ... the faster you make your investment decision.
                    </label>
                </li>

                <li>
                    <label for="id_testq_2_1">
                        <input type="radio" name="test2" value="2" required="" id="id_testq_2_1" class="form-check-input" onclick="document.getElementById('id_testq_2_0').setCustomValidity('')">
                        ... the higher the relative deviation of the worker's guess from the actual number of blue dots.
                    </label>
                </li>

                <li>
                    <label for="id_testq_2_2">
                        <input type="radio" name="test2" value="3" required="" id="id_testq_2_2" class="form-check-input" onclick="document.getElementById('id_testq_2_0').setCustomValidity('')">
                     ... the more of your endowment you keep for yourself.
                    </label>
                </li>

                <li>
                    <label for="id_testq_2_3">
                        <input type="radio" name="test2" value="4" required="" id="id_testq_2_3" class="form-check-input" onclick="document.getElementById('id_testq_2_0').setCustomValidity('')">
                     ... the lower the relative deviation of the worker's guess from the actual number of blue dots.
                    </label>
                </li>
            </ul>
        </div>
    </div>
</form>

<br>

<button class="otree-btn-next btn btn-primary">Next</button>

{% endblock %}