{{ block title }}
    <div id="title">
        Your task
    </div>
{{ endblock }}

{% block styles %}
<link href="{% static 'global/instructions.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script>
    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("instr1", "true")

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("c2", content)
        sessionStorage.setItem("t2", title)
    }


</script>
{% endblock %}

{{ block content }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsInv.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>


<div id="content">
    <p>
        In the following you will be matched with a worker. It will be your task to decide how much to invest in this
        worker.
    </p>

        <p>
            <b><u>The worker</u></b>
        </p>

                <u>The worker's task:</u>

        <p>
            This worker’s task is <b>to guess the number of blue dots</b> depicted in pictures, similar to the ones
            below (see figure 1). All pictures contain between 500 and 2000 blue dots. The worker sees one picture at a
            time, and has for each picture 1 minute time to guess.
        </p>
        <div class="row">
            <div class="column">
                <img src="{{ static 'example500.png' }}" class="resp"/>
                <p>
                    <b style="font-size: smaller">
                        Correct answer: 500 dots
                    </b>
                </p>
            </div>
            <div class="column">
                <img src="{{ static 'example2000.png' }}" class="resp"/>
                <p>
                    <b style="font-size: smaller">
                        Correct answer: 2000 dots
                    </b>
                </p>
            </div>
        </div>
        <p style="text-align: center">
            <i style="font-size: smaller">Figure 1: Examples</i>
        </p>
        <p>
            After indicating the guess about the number of blue dots in the picture, the worker answers a question related to the
            precision of the guess (100% - % deviation to the actual number of blue dots in the picture). See figure 2.
        </p>
        <p style="text-align: center">
            <i>Please indicate how well you think you did in guessing the number of blue dots in the picture:</i>
            <img src="{{ static 'exampleGuess.png' }}" class="resp"/>
            <br>
            <i style="font-size: smaller">Figure 2: The worker's question</i>
        </p>
        <p>
            <b>When deciding how much to invest, you see only the worker's answer to the question in figure 2</b>. You
            will not know the guess or the actual number of blue dots in the picture.
        </p>

        <br>


            <u>The worker's bonus payment:</u>

        <p>
            The worker's bonus payment depends on the amount that you decide to invest in the worker.
        </p>

</div>

<br>

    <button class="otree-btn-next btn btn-primary" id="nb" >Next</button>
<br>
<br>

{{ endblock }}


