{{ block title }}
    <div id="title">
        Your task
    </div>
{{ endblock }}

{% block styles %}
<link href="{% static 'global/instructions.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script>
    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("instr1", "true")

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("c2", content)
        sessionStorage.setItem("t2", title)
    }

    const errorbox = document.getElementById("errorm");
    const nextb = document.getElementById("nb");
    const fakeb = document.getElementById("fake");
    const button1 = document.getElementById("button1");
    const h1 = document.getElementById("head1");
    let click1 = 0;

    function showadvtext() {
        nextb.style.display = "block";
        fakeb.style.display = "none";
        click1 = 1;
        button1.style.display = "none";
        h1.style.display = "block";
        errorbox.style.display = "none";
        var text = document.getElementById("advtext");
        if (text.style.display === "none") {
            text.style.display = "block";
        }
    }

    function validate() {
        if (click1 !== 1) {
            errorbox.style.display = "block";
        }
    }
</script>
{% endblock %}

{{ block content }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsInv.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<div id="errorm" class="otree-form-errors alert alert-danger" style="display: none">
    Please press the grey buttons to read the full instructions. You can only proceed if you read through all of the
    instructions.
</div>

<div id="content">
    <p>
        In the following you will be matched with a worker. It will be your task to decide how much to invest in this
        worker.
    </p>

    <button id="button1" type="button" class="btn opener" onclick="showadvtext()">
        <b><u>The worker:</u></b>
    </button>
    <p id="head1" style="display: none">
        <b><u>The worker:</u></b>
    </p>

    <div id="advtext" style="display: none">
        <p>
            This worker’s task is <b>to guess the number of blue dots</b> depicted in pictures, similar to the ones
            below (see figure 1). All pictures contain between 500 and 2000 blue dots. The worker sees one picture at a
            time, and has 1 minute time to guess.
        </p>
        <div class="row">
            <div class="column">
                <img src="{{ static 'example500.png' }}" class="resp"/>
                <p>
                    <b style="font-size: smaller">
                        Correct answer: 500 dots
                    </b>
                </p>
            </div>
            <div class="column">
                <img src="{{ static 'example2000.png' }}" class="resp"/>
                <p>
                    <b style="font-size: smaller">
                        Correct answer: 2000 dots
                    </b>
                </p>
            </div>
        </div>
        <p style="text-align: center">
            <i style="font-size: smaller">Figure 1: Examples</i>
        </p>
        <p>
            After indicating the guess about the number of blue dots in the picture, the worker answers the question in
            figure 2.
        </p>
        <p style="text-align: center">
            <i>Please indicate how well you think you did in guessing the number of blue dots in the picture:</i>
            <img src="{{ static 'exampleGuess.png' }}" class="resp"/>
            <br>
            <i style="font-size: smaller">Figure 2: The worker's question</i>
        </p>
        <p>
            <b>When deciding how much to invest, you see only the worker's answer to the question in figure 2</b>. You
            will not know the guess or the actual number of blue dots in the picture.
        </p>

        <br>

        <p>
            <u>The worker's bonus payment:</u>
        </p>
        <p>
            The worker's bonus payment depends on the amount that you decide to invest in the worker.
        </p>
    </div>
</div>

<br>

<div style="float: right">
    <button type="button" class="otree-btn-next btn btn-primary" id="fake" onclick="validate()">Next</button>
    <button class="otree-btn-next btn btn-primary" id="nb" style="display: none">Next</button>
</div>

{{ endblock }}


