{{ block title }}
    <div id="title">
        Your payment
    </div>
{{ endblock }}

{% block styles %}
<link href="{% static 'global/instructions.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script>
    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("instr2", "true")

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("c3", content)
        sessionStorage.setItem("t3", title)
    }
</script>
{% endblock %}

{{ block content }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsInv.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<div id="content">
     <b><u>Your payment:</u></b>
    <p>
        You will receive a fix pay of <b>£1.00</b>. Additionally, you can earn a bonus payment of up to <b>£3.00</b>.
    </p>
    <p>
        <u>Your bonus payment</u>
    </p>
    <p>
        You have an endowment of 100 Pence and have to decide how much out of the 100 Pence you want to invest in the
        worker.
    </p>
    <p>
        <b>Your bonus payment is the endowment you kept plus the return to investment.</b>
    </p>

    <p>
        Your <b>return to investment is higher, the lower the relative deviation (in %)</b> of the worker's guess from
        the actual number of blue dots in a picture.
    </p>
    <p>
        For example, if you invested all your endowment (100 Pence) in this round, you will receive the following bonus:
    </p>
    <ul>
        <li>
            If the relative deviation of a worker's guess is <b>10% or less</b>, your <b>return to investment</b> will
            be <b>300 Pence</b>.
        </li>
        <li>
            If the relative deviation of a worker's guess is <b>more than 10%, but less than 20%</b>, your <b>return to
            investment</b> will be <b>270 Pence</b>.
        </li>
        <li>
            If the relative deviation of a worker's guess is <b>more than 20%, but less than 30%</b>, your <b>return to
            investment</b> will be <b>170 Pence</b>.
        </li>
        <li>
            If the relative deviation of a worker's guess is <b>30% or more</b>, your <b>return to investment</b> will
            be <b>0 Pence</b>.
        </li>
    </ul>
</div>

<br>

<button class="otree-btn-next btn btn-primary">Next</button>

{{ endblock }}


