{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Mentoring
{% endblock %}

{% block styles %}
<style>
    .box-container {
        display:flex;
        flex-direction: column;
    }
    .box1 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box2 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box3 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box4 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box5 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box6 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
{% endblock %}

{% block scripts%}
<script>
    const boxes1 = document.querySelectorAll('.box1');
    const boxes2 = document.querySelectorAll('.box2');
    const boxes3 = document.querySelectorAll('.box3');
    const boxes4 = document.querySelectorAll('.box4');
    const boxes5 = document.querySelectorAll('.box5');
    const boxes6 = document.querySelectorAll('.box6');

    boxes1.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes1.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });
    boxes2.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes2.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });
    boxes3.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes3.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });
    boxes4.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes4.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });
    boxes5.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes5.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });
    boxes6.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes6.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });

    let b1 = false;
    let b2 = false;
    let b3 = false;
    let b4 = false;
    let b5 = false;
    let b6 = false;

    function sendValueTer(value) {
        liveSend({'section': 'ter', 'value': value})
        b1 = true;
        checkCompletion();
    }
    function sendValueVP(value) {
        liveSend({'section': 'vp', 'value': value})
        b2 = true;
        checkCompletion();
    }
    function sendValuePoor(value) {
        liveSend({'section': 'poor', 'value': value})
        b3 = true;
        checkCompletion();
    }
    function sendValueGood(value) {
        liveSend({'section': 'good', 'value': value})
        b4 = true;
        checkCompletion();
    }
    function sendValueVG(value) {
        liveSend({'section': 'vg', 'value': value})
        b5 = true;
        checkCompletion();
    }
    function sendValueExc(value) {
        liveSend({'section': 'exc', 'value': value})
        b6 = true;
        checkCompletion();
    }

    function checkCompletion() {
        if (b1 && b2 && b3 && b4 && b5 && b6) {
            document.getElementById('nb').style.display = 'block';
        }
    }
</script>
{% endblock %}

{% block content %}

<p>
    Please indicate in the following, how you would advise the respective mentee to answer the question.
</p>

<form>
    <p>
        <label for="m1">
            Your mentee answered the question with "terrible", but is among the top 25% percentile performers.
            What would you advise your mentee to answer?
        </label>
    </p>
    <div class="box-container" id="m1">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box1" onclick="sendValueTer(1)">Terrible</div>
            <div class="box1" onclick="sendValueTer(2)">Very Poor</div>
            <div class="box1" onclick="sendValueTer(3)">Poor</div>
            <div class="box1" onclick="sendValueTer(4)">Good</div>
            <div class="box1" onclick="sendValueTer(5)">Very Good</div>
            <div class="box1" onclick="sendValueTer(6)">Exceptional</div>
        </div>
    </div>

    <br>

    <p>
        <label for="m2">
            Your mentee answered the question with "very poor", but is among the top 25% percentile performers.
            What would you advise your mentee to answer?
        </label>
    </p>
    <div class="box-container" id="m2">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box2" onclick="sendValueVP(1)">Terrible</div>
            <div class="box2" onclick="sendValueVP(2)">Very Poor</div>
            <div class="box2" onclick="sendValueVP(3)">Poor</div>
            <div class="box2" onclick="sendValueVP(4)">Good</div>
            <div class="box2" onclick="sendValueVP(5)">Very Good</div>
            <div class="box2" onclick="sendValueVP(6)">Exceptional</div>
        </div>
    </div>

    <br>

    <p>
        <label for="m3">
            Your mentee answered the question with "neutral", but is among the top 25% percentile performers.
            What would you advise your mentee to answer?
        </label>
    </p>
    <div class="box-container" id="m3">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box3" onclick="sendValuePoor(1)">Terrible</div>
            <div class="box3" onclick="sendValuePoor(2)">Very Poor</div>
            <div class="box3" onclick="sendValuePoor(3)">Poor</div>
            <div class="box3" onclick="sendValuePoor(4)">Good</div>
            <div class="box3" onclick="sendValuePoor(5)">Very Good</div>
            <div class="box3" onclick="sendValuePoor(6)">Exceptional</div>
        </div>
    </div>

    <br>

    <p>
        <label for="m4">
            Your mentee answered the question with "good", but is among the top 25% percentile performers.
            What would you advise your mentee to answer?
        </label>
    </p>
    <div class="box-container" id="m4">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box4" onclick="sendValueGood(1)">Terrible</div>
            <div class="box4" onclick="sendValueGood(2)">Very Poor</div>
            <div class="box4" onclick="sendValueGood(3)">Poor</div>
            <div class="box4" onclick="sendValueGood(4)">Good</div>
            <div class="box4" onclick="sendValueGood(5)">Very Good</div>
            <div class="box4" onclick="sendValueGood(6)">Exceptional</div>
        </div>
    </div>

    <br>

    <p>
        <label for="m5">
            Your mentee answered the question with "very good", but is among the top 25% percentile performers.
            What would you advise your mentee to answer?
        </label>
    </p>
    <div class="box-container" id="m5">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box5" onclick="sendValueVG(1)">Terrible</div>
            <div class="box5" onclick="sendValueVG(2)">Very Poor</div>
            <div class="box5" onclick="sendValueVG(3)">Poor</div>
            <div class="box5" onclick="sendValueVG(4)">Good</div>
            <div class="box5" onclick="sendValueVG(5)">Very Good</div>
            <div class="box5" onclick="sendValueVG(6)">Exceptional</div>
        </div>
    </div>

    <br>

    <p>
        <label for="m6">
            Your mentee answered the question with "exceptional", but is among the top 25% percentile performers.
            What would you advise your mentee to answer?
        </label>
    </p>
    <div class="box-container" id="m6">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box6" onclick="sendValueExc(1)">Terrible</div>
            <div class="box6" onclick="sendValueExc(2)">Very Poor</div>
            <div class="box6" onclick="sendValueExc(3)">Poor</div>
            <div class="box6" onclick="sendValueExc(4)">Good</div>
            <div class="box6" onclick="sendValueExc(5)">Very Good</div>
            <div class="box6" onclick="sendValueExc(6)">Exceptional</div>
        </div>
    </div>
</form>

<br>

<button class="otree-btn-next btn btn-primary" id="nb" style="display: none">Next</button>

{% endblock %}