{{ block title }}
    <div id="title">
        Your task
    </div>
{{ endblock }}

{% block styles %}
<link href="{% static 'global/instructions.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script>
    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("instr1", "true")

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("c2", content)
        sessionStorage.setItem("t2", title)
    }

    const errorbox = document.getElementById("errorm");
    const nextb = document.getElementById("nb");
    const fakeb = document.getElementById("fake");
    const button1 = document.getElementById("button1");
    const button2 = document.getElementById("button2");
    const h1 = document.getElementById("head1");
    const h2 = document.getElementById("head2");
    let click1 = 0;
    let click2 = 0;

    function showadvtext() {
        if (click2 == 1) {
            nextb.style.display = "block";
            fakeb.style.display = "none";
        }
        button1.style.display = "none";
        h1.style.display = "block";
        click1 = 1;
        errorbox.style.display = "none";
        var text = document.getElementById("advtext");
        if (text.style.display === "none") {
            text.style.display = "block";
        }
    }

    function showinvtext() {
        if (click1 == 1) {
            nextb.style.display = "block";
            fakeb.style.display = "none";
        }
        button2.style.display = "none";
        h2.style.display = "block";
        click2 = 1;
        errorbox.style.display = "none";
        var text = document.getElementById("invtext");
        if (text.style.display === "none") {
            text.style.display = "block";
        }
    }

    function validate() {
        if (click1 !== 1 || click2 !== 1) {
            errorbox.style.display = "block";
        }
    }
</script>
{% endblock %}

{{ block content }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentees.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>


<div id="content">
    <p>
        In the following, it will be your task to <b>guess the number of blue dots</b> depicted in a picture, similar to
        the ones below (see figure 1). All pictures contain between 500 and 2000 blue dots. You will have 1 minute time to guess.
    </p>

    <br>

    <div class="row">
        <div class="column">
            <img src="{{ static 'example500.png' }}" class="resp"/>
            <p>
                <b style="font-size: smaller">
                    Correct answer: 500 dots
                </b>
            </p>
        </div>
        <div class="column">
            <img src="{{ static 'example2000.png' }}" class="resp"/>
            <p>
                <b style="font-size: smaller">
                    Correct answer: 2000 dots
                </b>
            </p>
        </div>
    </div>
    <p style="text-align: center">
        <i style="font-size: smaller">Figure 1: Examples</i>
    </p>

    <p>
        After indicating your guess about the number of blue dots in the picture, you will answer the question in figure
        2.
    </p>
    <p style="text-align: center">
        <i>Please indicate how well you think you did in guessing the number of blue dots in the picture:</i>
        <img src="{{ static 'exampleGuess.png' }}" class="resp"/>
        <br>
        <i style="font-size: smaller">Figure 2: Your question</i>
    </p>

    <br>

    <b><u>Your payment:</u></b>

        <p>
            You will receive a <b>fix pay of £1.00</b>. Additionally, you can earn a bonus payment of up to <b>£2.00</b>.
        </p>

        <p>
            <u>Your bonus payment</u>
        </p>
        <p>
            Your bonus payment depends on the amount that an investor decides to invest in you. Your <b>bonus payment
            equals 2 * the investment by the investor</b>.
        </p>

    <br>
    <br>
<p>
            <b><u>The investor</u></b>
</p>
    <p>
        <u>The investor's task:</u>
    </p>
        <p>
            It is the investor's task to <b>decide how much to invest in you</b>. When deciding how much to invest, the
            investor <b>sees only your answer to the question in figure 2</b>. The investor will not know your guess or
            the actual number of blue dots in the picture.
        </p>
        <p>
            <u>The investor's bonus payment:</u>
        </p>
        <p>
            The investor has an endowment of 100 Pence and has to decide how much out of the 100 Pence to invest in you.
        </p>
        <p>
            <b>The investor's bonus payment consists of the endowment kept and the return to investment</b>.
        </p>
        <p>
            The investor's <b>return to investment is higher, the lower the relative deviation (in %)</b> of your guess
            from the actual number of dots in the picture.
        </p>
        <p>
            For example, if the investor invested all of the endowment (100 Pence), the investor will receive the
            following return to investment:
        </p>
        <ul>
            <li>
                If the relative deviation of the guess is <b>10% or less</b>, the <b>return to investment</b> will be
                <b>300 Pence</b>.
            </li>
            <li>
                If the relative deviation of the guess is <b>more than 10%, but less than 20%</b>, the <b>return to
                investment</b> will be <b>270 Pence</b>.
            </li>
            <li>
                If the relative deviation of the guess is <b>more than 20%, but less than 30%</b>, the <b>return to
                investment</b> will be <b>170 Pence</b>.
            </li>
            <li>
                If the relative deviation of the guess is <b>30% or more</b>, the <b>return to investment</b> will be
                <b>0 Pence</b>.
            </li>
        </ul>
</div>

<br>

    <button class="otree-btn-next btn btn-primary" >Next</button>

<br>
{{ endblock }}


