{{ block title }}
    <div id="title">
        How sure are you about your guess in part 1?
    </div>
{{ endblock }}

{% block styles %}
<link href="{% static 'global/doubleslider.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script>
    window.onload = function(){
        fillColour();
        output1.innerHTML = '<br>Low estimate <b>' + slider1.value.toString() + '</b>.';
        output2.innerHTML = '<br>High estimate <b>' + slider2.value.toString() + '</b>.';
    }

    const slider1 = document.getElementById("s1");
    const slider2 = document.getElementById("s2");
    const output1 = document.getElementById("out1");
    const output2 = document.getElementById("out2");
    let click = 0;
    let minGap = 0;

    let sliderTrack = document.querySelector(".slider-track");
    let sliderMaxValue = document.getElementById("s1").max;

    const errorbox = document.getElementById("errorm");
    const nextb = document.getElementById("nb");
    const fakeb = document.getElementById("fake");

    slider1.oninput = function() {
        if(parseInt(slider2.value) - parseInt(slider1.value) <= minGap){
            slider1.value = parseInt(slider2.value) - minGap;
        }
        output1.innerHTML = '<br>Low estimate <b>' + this.value.toString() + '</b>.';
        fillColour();
    }

    slider2.oninput = function() {
        if(parseInt(slider2.value) - parseInt(slider1.value) <= minGap){
            slider2.value = parseInt(slider1.value) + minGap;
        }
        output2.innerHTML = '<br>High estimate <b>' + this.value.toString() + '</b>.';
        fillColour();
    }

    function fillColour(){
        percent1 = ((slider1.value - 500) / (sliderMaxValue - 500)) * 100;
        percent2 = ((slider2.value - 500) / (sliderMaxValue - 500)) * 100;
        sliderTrack.style.background = `linear-gradient(to right, #d3d3d3 ${percent1}%, #007bff ${percent1}%, #007bff ${percent2}%, #d3d3d3 ${percent2}%)`;
    }

    function setClick() {
        click = 1;
        slider1.setCustomValidity("");
        nextb.style.display = 'block';
        fakeb.style.display = 'none';
        errorbox.innerHTML = "";
    }
    slider1.onmousedown = setClick;
    slider2.onmousedown = setClick;
    slider1.ontouchstart = setClick;
    slider2.ontouchstart = setClick;

    function validateForm() {
        if (click !== 1) {
            //slider1.setCustomValidity("Please answer this question");
            errorbox.innerHTML = "Please answer this question";
        }
    }

    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("estimate1", "true")

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("c6", content)
        sessionStorage.setItem("t6", title)
    }
</script>
{% endblock %}

{{ block content }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentees.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>


<p>
    <img src="{{ static graphic }}" class="resp"/>
</p>
<div id="content">
    <p>
        You guessed that there are {{player.guess}} dots in this picture.
    </p>
</div>
<p>
    <label for="s1">
        Please use the slider to indicate a <b>high and a low estimate</b> such that there is a <b>90% chance that the
        correct answer falls between those numbers</b>.
    </label>
</p>

<p>
    The investor will not see your answer to this question.
</p>

<div class="input-group mb-3" style="max-width: 100%">
    <div class="input-group-prepend">
        <span class="input-group-text">500</span>
    </div>
    <div class="slidecontainer">
        <div class="slider-track"></div>
        <div class="slider-track-border"></div>
        <input type="range" class="slider" min="500" max="2000" step="1" value="500" id="s1" name="lowest">
        <input type="range" class="slider" min="500" max="2000" step="1" value="2000" id="s2" name="highest">
    </div>
    <div class="input-group-append">
        <span class="input-group-text">2000</span>
    </div>
</div>

<div class="output-cont">
  <div class="output-child">
    <span id="out1"><br></span>
  </div>
  <div class="output-child">
    <span id="out2"><br></span>
  </div>
</div>

<div style="float: right">
    <button type="button" class="otree-btn-next btn btn-primary" id="fake" onclick="validateForm()">Next</button>
    <button class="otree-btn-next btn btn-primary" id="nb" style="display: none">Next</button>
    <span id="errorm" class="errormessage"></span>
</div>


{{ endblock }}

