{{ block title }}
    <div id="title">
        Your final submission
    </div>
{{ endblock }}

{% block styles %}
<style>
    .box-container {
        display:flex;
        flex-direction: column;
    }

    .box1 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        font-size: min(2vw, 1rem);
    }

    .prevIns{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 300px;
        text-align: right;
        cursor: pointer;
        color: dimgrey
    }

    .btn {
        float: right
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    let pre = js_vars.prevansw;

    window.onload = function() {
        x = document.getElementById(pre + '2');
        x.setAttribute('style', 'background-color: #6495ED')
    };
    const boxes1 = document.querySelectorAll('.box1');

    boxes1.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            boxes1.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });

    let b1 = false;

    function sendValue(value) {
        liveSend(value)
        // Save selection for previous instructions
        sessionStorage.setItem("selection2", value + '2');
        b1 = true;
        document.getElementById('next').style.display = 'block';
    };

    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("finalsub", "true")

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("c5", content)
        sessionStorage.setItem("t5", title)
    }
</script>
{% endblock %}

{{ block content }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentees.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<div id="content">
    {{ if player.treat == 't3' }}
    <p>
        <u><b>Your advice</b></u>
    </p>
    <p>
        <b>You received the advice to choose <span style="color: red">{{ advice }}</span></b>, when answering the question
        below.
    </p>
    {{ endif }}

    {{ if player.treat == 't4' }}
    <p>
        You are matched with an advisor who will provide you with some advice in answering the question below.
    </p>
    <p>
        <u><b>Your advisor</b></u>
    </p>
    <p>
        Your advisor is another worker who <b>has some information on your performance</b>. Specifically, <b>your
        advisor provides advice contingent on your group rank within a randomly matched group of four workers</b>, who
        all performed the same task. However, the advisor does not exactly know how good your guess was.
    </p>
    <p>
        <u><b>Your advice</b></u>
    </p>
    <p>
        <b>You received the advice to choose <span style="color: red">{{ advice }}</span></b>, when answering the question
        below.
    </p>

    <br>
    {{ endif }}

    <p>
        Below you see your current (previously given) answer to the question <i>"Please indicate how well you think you
        did in guessing the number of blue dots in the picture"</i>.
    </p>
    <p>
        You can either change your answer by selecting any other button, or confirm your answer with a click on the
        respective button.
    </p>

    <br>

    <form>
        <p>
            <label for="prom">
                Please indicate how well you think you did in guessing the accurate number of blue dots in the picture:
            </label>
        </p>
        <div class="box-container" id="prom">
            <div class="row" style="margin-left: 10%; margin-right: 10%">
                <div class="box1" id="terrible2" onclick="sendValue('terrible')">Terrible</div>
                <div class="box1" id="very poor2" onclick="sendValue('very poor')">Very Poor</div>
                <div class="box1" id="poor2" onclick="sendValue('poor')">Poor</div>
                <div class="box1" id="good2" onclick="sendValue('good')">Good</div>
                <div class="box1" id="very good2" onclick="sendValue('very good')">Very Good</div>
                <div class="box1" id="exceptional2" onclick="sendValue('exceptional')">Exceptional</div>
            </div>
        </div>
    </form>
</div>

<br>

<button class="otree-btn-next btn btn-primary" id="next" style="display: none">Next</button>

{{ endblock }}
