{{ block title }}
    Your previous answer
{{ endblock }}

{% block styles %}
<style>
    .box-container {
        display:flex;
        flex-direction: column;
    }
    .box1 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .btn {
        float: right
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    let pre = js_vars.prevansw;

    window.onload = function() {
        x = document.getElementById(pre);
        x.setAttribute('style', 'background-color: #6495ED')
    };
    const boxes1 = document.querySelectorAll('.box1');

    boxes1.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes1.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });

    let b1 = false;

    function sendValue(value) {
        liveSend(value)
        b1 = true;
        checkCompletion();
    };

    function checkCompletion() {
        if (b1) {
            document.getElementById('nb2').style.display = 'block';
            document.getElementById('nb1').style.display = 'none';
        }
    }
</script>
{% endblock %}

{{ block content }}

{{ if player.treat == 't3' }}
<p>
    You were matched with a mentor. Your mentor’s task was to advice you how to answer the question below, given your
    rank relative to 3 other workers. These 3 workers were selected by chance among workers that – similar to you -
    had to guess the number of dots in computer-generated pictures in a previous task.
</p>
<p>
    Given the information, that your current answer to the question "Please indicate how well you think you did in
    guessing the accurate number of blue dots in the picture." is <b>{{prevansw}}</b> (as shown below) your mentor provided the
    following advice:
</p>
<p>
    On a scale from 1-Terrible to 6-Exceptional, <b>your mentor advices you to choose {{advice}}</b> when answering the
    question below.
</p>
{{ endif }}

{{ if player.treat == 't4' }}
<p>
    You were matched with a mentor. Your mentor’s task was to advice you how to answer the question below, given your
    rank relative to 3 other workers. These 3 workers were selected by chance among workers that – similar to you -
    had to guess the number of dots in computer-generated pictures in a previous task.
</p>
<p>
    On a scale from 1-Terrible to 6-Exceptional, <b>your mentor advices you to choose {{advice}}</b> when answering the
    question below.
</p>
{{ endif }}

<p>
    Below you see your current (previously given) answer to the question "Please indicate how well you think you did in
    guessing the accurate number of blue dots in the picture".
</p>
<p>
    You can either change it, by selecting any other answer - or directly submit it as your final answer by pressing the
    "Next"-button.
</p>

<form>
    <p>
        <label for="prom">
            Please indicate how well you think you did in guessing the accurate number of blue dots in the picture.
        </label>
    </p>
    <div class="box-container" id="prom">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box1" id="terrible" onclick="sendValue('terrible')">Terrible</div>
            <div class="box1" id="very poor" onclick="sendValue('very poor')">Very Poor</div>
            <div class="box1" id="poor" onclick="sendValue('poor')">Poor</div>
            <div class="box1" id="good" onclick="sendValue('good')">Good</div>
            <div class="box1" id="very good" onclick="sendValue('very good')">Very Good</div>
            <div class="box1" id="exceptional" onclick="sendValue('exceptional')">Exceptional</div>
        </div>
    </div>
</form>

<br>

<button class="otree-btn-next btn btn-primary" id="nb1" onclick="sendValue(pre)">Next</button>
<button class="otree-btn-next btn btn-primary" id="nb2" style="display: none">Next</button>

{{ endblock }}
