{{ block title }}
    <div id="title">
        The third-party investor
    </div>
{{ endblock }}

{% block styles %}
<style>
    .prevIns{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 300px;
        text-align: right;
        cursor: pointer;
        color: dimgrey
    }

    .btn {
        float: right
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("instr2", "true")

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("c5", content)
        sessionStorage.setItem("t5", title)
    }
</script>
{% endblock %}

{{ block content }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentees.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<div id="content">
    <p>
        <b>Your bonus</b> depends on the <b>decision of a third-party investor</b>, that is a worker from another task.
        This investor’s task is it to decide how much to invest in you and other workers who guessed the number of dots in
        computer-generated pictures. The investor gains more money from the investment, the more accurate the guess.
    </p>

    <p>
        On the next page we will ask you to indicate how well you think you did in guessing the accurate number of blue
        dots in the picture. <b>The investor will see your answer to this question</b>, when deciding if and how much to
        invest in your guess.
    </p>

    <!--
    <p style="text-align: center">
        <i>Please indicate how well you think you did in guessing the accurate number of blue dots in the picture.</i>
    </p>
    <p style="text-align: center">
        <img src="{{ static 'exampleGuess.png' }}"/>
    </p>
    -->
</div>

<button class="otree-btn-next btn btn-primary">Next</button>

{{ endblock }}


