{{ block title }}
    <div id="title">
        Third party advice
    </div>
{{ endblock }}

{% block styles %}
<link href="{% static 'global/instructions.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script>
    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("instr_adv", "true")

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("content_adv", content)
        sessionStorage.setItem("title_adv", title)
    }
</script>

{% endblock %}

{{ block content }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentees.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<div id="content">
    <p>
      On the next screen we ask you to answer the question in figure 1.
    </p>

    <p>
      Note, that <b>you are matched with a third party who may provide you with advice</b> on how to answer the question in figure 1.
    </p>

  <p>
     If you receive advice, this advise <b>depends on your group rank</b> within a randomly matched group of 4 workers who all performed the same task, and may also <b>depend on your answer</b> on the next page. However, the third party will neither know your guess nor the actual number of blue dots in the picture.
    </p>
     

    <p style="text-align: center">
        <i>Please indicate how well you think you did in guessing the number of blue dots in the picture:</i>
        <img src="{{ static 'exampleGuess.png' }}" class="resp"/>
        <br>
        <i style="font-size: smaller">Figure 1: Your question</i>
    </p>

    <br>
</div>

    <button class="otree-btn-next btn btn-primary" id="nb" >Next</button>

<br>
<br>

{{ endblock }}

