{{ block title }}
    <div id="title">
        How accurate is your guess?
    </div>
{{ endblock }}

{% block styles %}
<link href="{% static 'global/twosliders.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script>

    const slider1 = document.getElementById("s1");
    const output1 = document.getElementById("out1");
    let click1 = 0;

    let sliderTrack1 = document.getElementById("slidertrack1");

    const errorbox1 = document.getElementById("errorm1");
    const nextb = document.getElementById("nb");
    const fakeb = document.getElementById("fake");

    slider1.oninput = function() {
        output1.innerHTML = 'I believe my guess is <b>' + this.value.toString() + '</b> % accurate.';
            slider1.classList.add("myClass","myClassFF","myClassMS");
        fillColour1();
    };


    function fillColour1(){
        sliderTrack1.style.background = `linear-gradient(to right, #007bff ${slider1.value}%, #d3d3d3 ${slider1.value}%)`;
    };


    function setClick1() {
        click1 = 1;
        slider1.setCustomValidity("");
        errorbox1.innerHTML = "";
    }

    slider1.onmousedown = setClick1;
    slider1.ontouchstart = setClick1;

    function validation() {
        if (click1===0){
            slider1.setCustomValidity("Please answer the question.");
        }
    };


    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("ownperf1", "true");

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("c8", content)
        sessionStorage.setItem("t8", title)
    }

</script>
{% endblock %}

{{ block content }}
{{ if player.treat == "t1" }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMenteest1.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>
{{ endif }}
{{ if player.treat != "t1" }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentees.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>
{{ endif }}

<p>
    <img src="{{ static graphic }}" class="resp"/>
</p>
<div id="content">
    <p>
       <b>You guessed</b> that there are <b>{{player.guess}} dots </b> in this picture.
    </p>

<p>Now we are interested in <b>how well you think you performed</b> in guessing the number of dots in this picture.
  Note, that the <b>investor will not see</b> your answer to the two questions below. Please answer truthfully.
</p>
    </div>
<p>
        Remember, that the <b>accuracy of the guess</b> is computed as 100% - % relative deviation from the actual number of dots (% relative deviation =<math> <mfrac>

                       <mi> |actual no. dots - guess|</mi>


                        <mi> actual no. dots</mi>

                </mfrac> * 100</math>), and 0, if the guess deviates from the actual number of dots by more than the actual number.
        <p>
<br>
<p>
    <label for="s1">
        <b>How accurate</b>, do you think, <b>is your guess</b>? Please use the slider below to indicate <b>the accuracy of your guess</b> from 0 to 100%.
    </label>

</p>


<div class="input-group mb-3" style="max-width: 100%">
    <div class="input-group-prepend">
        <span class="input-group-text">0%</span>
    </div>
    <div class="slidecontainer">
        <div class="slider-track" id="slidertrack1"></div>
        <div class="slider-track-border"></div>
        <input type="range" class="slider" min="0" max="100" step="1" value="100" id="s1" name="own_perf">
    </div>
    <div class="input-group-append">
        <span class="input-group-text">100%</span>
    </div>
</div>

<div class="output-cont">
  <div class="output-child">
    <span id="out1"><br></span>
  </div>
</div>

  <p>
     Now assume <b>we rank you and 3 other randomly selected workers</b>, who all performed the same task, <b>according to the accuracy of your guesses.</b>
    </p>
{{ formfield 'beliefrank' label='What do you think is <b>your rank within this group of 4?</b>' }}

<br>
<br>

    <p>
        <button class="otree-btn-next btn btn-primary" onclick="validation()">Weiter</button>
    </p>


<br>
<br>

{{ endblock }}

