{{ block title }}
    Task
{{ endblock }}

{% block styles %}
<style>
    .box-container {
        display:flex;
        flex-direction: column;
    }
    .box1 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .errormessage {
        display: flex;
        justify-content: center;
        text-align: center;
        color: red;
        font-size: 12px
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    const boxes1 = document.querySelectorAll('.box1');

    boxes1.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes1.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });

    let b1 = false;

    function sendValue(value) {
        liveSend(value)
        b1 = true;
        document.getElementById('error1').style.display = 'none';
        checkCompletion();
    };

    function validate() {
        if (!b1) {
            document.getElementById('error1').style.display = 'flex';
        }
    }

    function checkCompletion() {
        if (b1) {
            document.getElementById('nb').style.display = 'block';
            document.getElementById('fake').style.display = 'none';
        }
    }
</script>
{% endblock %}

{{ block content }}

<p>
    Please answer the following question. The answer will be shown to the third party when deciding
    how much to invest in you.
</p>

{{ if player.treat == 't1' }}
<p>
    After answering some additional questions, you will be shown your answer to this question
    and will be given the opportunity to change it.
</p>
{{ endif }}
{{ if player.treat == 't2' }}
<p>
    In doing so, you receive advice by a mentor. This mentor is an expert in the guessing task and knows how successful
    workers answered the following question.
</p>
<p>
    We showed the mentor your guess. On a scale from 0 (terrible) to 6 (exceptional), the mentor advices you to choose
    56, indicating neither much disagreement nor much agreement with the statement
    "I performed well on the guessing task" in the following question.
</p>
<p>
    After answering some additional questions, you will be shown your answer to this question and will be given the
    opportunity to change it.
</p>
{{ endif }}
{{ if player.treat == 't3' }}
<p>
    In doing so, you receive advice by a mentor. This mentor is an expert in the guessing task and knows how successful
    workers answered the following questions.
</p>
<p>
    After you submit your answer, we will show the mentor your guess. After answering some additional questions, you
    will receive advice by your mentor and will be given the opportunity to change your previous answer.
</p>
{{ endif }}
{{ if player.treat == 't4' }}
<p>
    In doing so, you receive advice by a mentor. This mentor is an expert in the guessing task and knows how successful
    workers answered the following questions.
</p>
<p>
    After you submit your answer, we will show the mentor your guess and your answer to the question below. After
    answering some additional questions, you will receive advice by your mentor and will be given the opportunity to
    change your previous answer.
</p>
{{ endif }}

<form>
    <p>
        <label for="prom">
            Please indicate how well you think you performed on the test you took in part 1.
        </label>
    </p>
    <div class="box-container" id="prom">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box1" onclick="sendValue('terrible')">Terrible</div>
            <div class="box1" onclick="sendValue('very poor')">Very Poor</div>
            <div class="box1" onclick="sendValue('poor')">Poor</div>
            <div class="box1" onclick="sendValue('good')">Good</div>
            <div class="box1" onclick="sendValue('very good')">Very Good</div>
            <div class="box1" onclick="sendValue('exceptional')">Exceptional</div>
        </div>
        <div class="row errormessage" id="error1" style="display: none">
            <i>Please answer this question.</i>
        </div>
    </div>
</form>

<br>

<button type="button" class="otree-btn-next btn btn-primary" id="fake" onclick="validate()">Next</button>
<button class="otree-btn-next btn btn-primary" id="nb" style="display: none">Next</button>

{{ endblock }}

