{{ block title }}
    Evaluate your performance
{{ endblock }}

{% block styles %}
<style>
    .box-container {
        display:flex;
        flex-direction: column;
    }
    .box1 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .errormessage {
        display: flex;
        justify-content: center;
        text-align: center;
        color: red;
        font-size: 12px
    }
    .btn {
        float: right
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    const boxes1 = document.querySelectorAll('.box1');

    boxes1.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes1.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });

    let b1 = false;

    function sendValue(value) {
        liveSend(value)
        b1 = true;
        document.getElementById('error1').style.display = 'none';
        checkCompletion();
    };

    function validate() {
        if (!b1) {
            document.getElementById('error1').style.display = 'flex';
        }
    }

    function checkCompletion() {
        if (b1) {
            document.getElementById('nb').style.display = 'block';
            document.getElementById('fake').style.display = 'none';
        }
    }
</script>
{% endblock %}

{{ block content }}

<p>
    In the following, you are asked to evaluate your performance on the task (guessing the number of dots in the
    picture) by answering the question below. The answer <b>will be shown to your potential investor</b>, who decides how much
    to invest in your guess.
</p>

{{ if player.treat == 't2' }}
<p>
    You were matched with a mentor. Your mentor’s task was to advice you how to answer the question below, given your
    rank relative to 3 other workers. These 3 workers were selected by chance among workers that – similar to you -
    had to guess the number of dots in computer-generated pictures in a previous task.
</p>
<p>
    On a scale from 1-Terrible to 6-Exceptional, <b>your mentor advices you to choose {{advice}}</b> when answering the
    question below.
</p>
{{ endif }}

<form>
    <p>
        <label for="prom">
            Please indicate how well you think you did in guessing the accurate number of blue dots in the picture.
        </label>
    </p>
    <div class="box-container" id="prom">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box1" onclick="sendValue('terrible')">Terrible</div>
            <div class="box1" onclick="sendValue('very poor')">Very Poor</div>
            <div class="box1" onclick="sendValue('poor')">Poor</div>
            <div class="box1" onclick="sendValue('good')">Good</div>
            <div class="box1" onclick="sendValue('very good')">Very Good</div>
            <div class="box1" onclick="sendValue('exceptional')">Exceptional</div>
        </div>
        <div class="row errormessage" id="error1" style="display: none">
            <i>Please answer this question.</i>
        </div>
    </div>
</form>

<br>

<button type="button" class="otree-btn-next btn btn-primary" id="fake" onclick="validate()">Next</button>
<button class="otree-btn-next btn btn-primary" id="nb" style="display: none">Next</button>

{{ endblock }}

