{{ block title }}
    <div id="title">
        Evaluate your performance
    </div>
{{ endblock }}

{% block styles %}
<style>
    .box-container {
        display:flex;
        flex-direction: column;
    }

    .box1 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .errormessage {
        display: flex;
        justify-content: center;
        text-align: center;
        color: red;
        font-size: 12px
    }

    .prevIns{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 300px;
        text-align: right;
        cursor: pointer;
        color: dimgrey
    }

    .btn {
        float: right
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    const boxes1 = document.querySelectorAll('.box1');

    boxes1.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes1.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });

    let b1 = false;

    function sendValue(value) {
        liveSend(value)
        b1 = true;
        document.getElementById('error1').style.display = 'none';
        checkCompletion();
    };

    function validate() {
        if (!b1) {
            document.getElementById('error1').style.display = 'flex';
        }
    }

    function checkCompletion() {
        if (b1) {
            document.getElementById('nb').style.display = 'block';
            document.getElementById('fake').style.display = 'none';
        }
    }

    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("evaluation2", "true")
</script>
{% endblock %}

{{ block content }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentees.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<div id="content">
    <p>
        In the following, you are again asked to evaluate your performance on the task (guessing the number of dots in the
        picture) in this second round, by answering the question below. The answer <b>will be shown to your potential
        investor</b>, who decides whether and how much to invest in your guess.
    </p>

    <form>
        <p>
            <label for="prom">
                Please indicate how well you think you did in guessing the accurate number of blue dots in the picture.
            </label>
        </p>
        <div class="box-container" id="prom">
            <div class="row" style="margin-left: 10%; margin-right: 10%">
                <div class="box1" onclick="sendValue('terrible')">Terrible</div>
                <div class="box1" onclick="sendValue('very poor')">Very Poor</div>
                <div class="box1" onclick="sendValue('poor')">Poor</div>
                <div class="box1" onclick="sendValue('good')">Good</div>
                <div class="box1" onclick="sendValue('very good')">Very Good</div>
                <div class="box1" onclick="sendValue('exceptional')">Exceptional</div>
            </div>
            <div class="row errormessage" id="error1" style="display: none">
                <i>Please answer this question.</i>
            </div>
        </div>
    </form>
</div>

<br>

<button type="button" class="otree-btn-next btn btn-primary" id="fake" onclick="validate()">Next</button>
<button class="otree-btn-next btn btn-primary" id="nb" style="display: none">Next</button>

{{ endblock }}

