{{ block title }}
    <div id="title">
        Your task in part 2
    </div>
{{ endblock }}

{% block styles %}
<link href="{% static 'global/instructions.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script>
    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("instr2", "true")

    // Take the new contents:
    let content = document.getElementById("content").innerHTML
    let title = document.getElementById("title").innerHTML

    if (typeof(Storage) !== "undefined") {
        sessionStorage.setItem("c10", content)
        sessionStorage.setItem("t10", title)
    }

    const errorbox = document.getElementById("errorm");
    const nextb = document.getElementById("nb");
    const fakeb = document.getElementById("fake");
    const button1 = document.getElementById("button1");
    const button2 = document.getElementById("button2");
    const h1 = document.getElementById("head1");
    const h2 = document.getElementById("head2");
    let click1 = 0;
    let click2 = 0;

    function showadvtext() {
        if (click2 == 1) {
            nextb.style.display = "block";
            fakeb.style.display = "none";
        }
        button1.style.display = "none";
        h1.style.display = "block";
        click1 = 1;
        errorbox.style.display = "none";
        var text = document.getElementById("advtext");
        if (text.style.display === "none") {
            text.style.display = "block";
        }
    }

    function showinvtext() {
        if (click1 == 1) {
            nextb.style.display = "block";
            fakeb.style.display = "none";
        }
        button2.style.display = "none";
        h2.style.display = "block";
        click2 = 1;
        errorbox.style.display = "none";
        var text = document.getElementById("invtext");
        if (text.style.display === "none") {
            text.style.display = "block";
        }
    }

    function validate() {
        if (click1 !== 1 || click2 !== 1) {
            errorbox.style.display = "block";
        }
    }
</script>
{% endblock %}

{{ block content }}
{{ if player.treat == "t1" }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMenteest1.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>
{{ endif }}
{{ if player.treat != "t1" }}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentees.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>
{{ endif }}


<div id="content">
    <p>
        In part 2 of this study, it will be again your task to <b>guess the number of blue dots</b> depicted in a picture. The picture contains between 500 and 2000 blue dots,
       but may be <b>different</b> to the picture you have seen before. You will again have 1 minute time to guess.
    </p>


    <p>
        After indicating your guess about the number of blue dots in the picture, you will again answer the question in figure
        1, which will be shown to an investor.
    </p>

        <p>
        Please note, that <b>you will not receive advice</b> on how to answer the question in figure 1.
    </p>

    <p style="text-align: center">
        <i>Please indicate how well you think you did in guessing the number of blue dots in the picture:</i>
        <img src="{{ static 'exampleGuess.png' }}" class="resp"/>
        <br>
        <i style="font-size: smaller">Figure 1: Your question</i>
    </p>

    <p>
            <b>Your can earn an additional bonus payment of up to <b>£1.00</b>.</b> The bonus payment equals the amount that the investor from part 2 decides to invest in you</b>.
        </p>

        <p>
            Remember, it is an investor's task to <b>decide how much to invest in you</b>. When deciding how much to invest, the
            investor <b>sees only your answer to the question in figure 2</b>. The investor will not know your guess or
            the actual number of blue dots in the picture.
        </p>

</div>

<br>

    <button class="otree-btn-next btn btn-primary" >Next</button>

<br>
<br>

{{ endblock }}


