{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Mentoring
{% endblock %}

{% block styles %}
<style>
    .prevIns{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 300px;
        text-align: right;
        cursor: pointer;
        color: dimgrey
    }

    .btn {
        float: right
    }

    .dropdown{
        width: auto;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 2px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #5F9EA0;
      color: white;
    }
</style>
{% endblock %}

{% block scripts%}
<script>

</script>
{% endblock %}

{% block content %}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentors.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<p>
    In the following it is your task to indicate how you would advise your mentee to answer the question <i>"Please
    indicate how well you think you did in guessing the accurate number of blue dots in the picture"</i>, given the
    mentee's guess was the first, second, third or fourth best guess comparing it to the randomly drawn 3 other
    workers from a prior task.
</p>

<form>
    <p>
        <label for="customers">
            Given, your mentee indicated <span style="color: red"><b>5 - Very Good</b></span> when answering the question
            <i>"Please indicate how well you think you did in guessing the accurate number of blue dots in the picture"
            </i>, please indicate which advice you want to give in the following scenarios:
        </label>
    </p>
    <table id="customers">
        <tr>
            <th>Scenario</th>
            <th>How would you advise your mentee to answer the question <i>"Please indicate how well you think you did
                in guessing the accurate number of blue dots in the picture"</i>? Please select your preferred answer.
            </th>
        </tr>
        <tr>
            <td>
                Given, your mentee’s guess is the <b>first best</b> in the randomly drawn group of 4.
            </td>
            <td style="text-align: center">
                <select class="dropdown" name="top_verygood" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
                    <option value="" selected="selected">---------</option>
                    <option value="terrible">Terrible</option>
                    <option value="very poor">Very Poor</option>
                    <option value="poor">Poor</option>
                    <option value="good">Good</option>
                    <option value="very good">Very Good</option>
                    <option value="excellent">Excellent</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Given, your mentee’s guess is the <b>second best</b> in the randomly drawn group of 4.
            </td>
            <td style="text-align: center">
                <select class="dropdown" name="um_verygood" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
                    <option value="" selected="selected">---------</option>
                    <option value="terrible">Terrible</option>
                    <option value="very poor">Very Poor</option>
                    <option value="poor">Poor</option>
                    <option value="good">Good</option>
                    <option value="very good">Very Good</option>
                    <option value="excellent">Excellent</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Given, your mentee’s guess is the <b>third best</b> in the randomly drawn group of 4.
            </td>
            <td style="text-align: center">
                <select class="dropdown" name="lm_verygood" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
                    <option value="" selected="selected">---------</option>
                    <option value="terrible">Terrible</option>
                    <option value="very poor">Very Poor</option>
                    <option value="poor">Poor</option>
                    <option value="good">Good</option>
                    <option value="very good">Very Good</option>
                    <option value="excellent">Excellent</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Given, your mentee’s guess is the <b>fourth best</b> in the randomly drawn group of 4.
            </td>
            <td style="text-align: center">
                <select class="dropdown" name="b_verygood" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
                    <option value="" selected="selected">---------</option>
                    <option value="terrible">Terrible</option>
                    <option value="very poor">Very Poor</option>
                    <option value="poor">Poor</option>
                    <option value="good">Good</option>
                    <option value="very good">Very Good</option>
                    <option value="excellent">Excellent</option>
                </select>
            </td>
        </tr>
    </table>
</form>

<br>

<button class="otree-btn-next btn btn-primary">Next</button>

{% endblock %}