{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task
{% endblock %}

{% block styles %}
<style>
.dropdown{
    width: auto;
    height: calc(2.25rem + 2px);
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
</style>
{% endblock %}

{% block content %}

    <p>
        Please answer the following question.
    </p>

    <form>
        <label for="test">Letzte Chance, vorbei.</label>
        <br>
        <select class="dropdown" name="testquest" id="test" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
            <option value="" selected="selected">---------</option>
            <option value="1">Eins</option>
            <option value="2">Zwei</option>
            <option value="3">Oder drei</option>
        </select>
    </form>

    <br>
    <br>

    <button class="otree-btn-next btn btn-primary">Next</button>

    <br>

{% endblock %}