{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    You passed the attention check!
{% endblock %}

{% block styles %}
<style>
    .numberinput{
        display: block;
        max-width: 60px;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .prevIns{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 300px;
        text-align: right;
        cursor: pointer;
        color: dimgrey
    }

    .btn {
        float: right
    }

    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #5F9EA0;
      color: white;
    }

    .sameline{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}

{% block scripts%}
<script>
    function show_NI(obj, value, output) {
        obj.setCustomValidity('');
        output.innerHTML = "$ " + (1-value).toFixed(2).toString()
    }
</script>
{% endblock %}

{% block content %}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsInv.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<p>
    In the following we will ask you to indicate the amount you wish to invest in a worker, depending on how the worker
    answered the following question: <i>"Please indicate how well you think you did in guessing the accurate number of
    blue dots in the picture."</i> on a scale from 1-Terrible to 6-Exceptional.
</p>
<p>
    For your bonus, we will randomly select a worker and implement your investment decision, corresponding to your below
    stated allocation. Your bonus will equal the returns from this investment.
</p>
<p>
    Please indicate in the second column, how much you want to invest from 0 to $1. The right column will update
    automatically showing the kept endowment.
</p>

<br>

<form>
    <table id="customers">
      <tr>
        <th>Scenario</th>
        <th>How much out of $1 do you want to invest?</th>
        <th>Not invested</th>
      </tr>
      <tr>
        <td>
            On a scale from 1 (Terrible) to 6 (Exceptional), the worker in this decision chose
            <span style="color: red">1 - Terrible</span> when answering the question: "Please indicate how well you think
            you did in guessing the accurate number of blue dots in the picture."
        </td>
        <td>
            <div class="sameline">
                $&nbsp<input type="number" class="numberinput" name="inv_ter" id="s1" min="0" max="1" step=".01" required oninvalid="this.setCustomValidity('Please enter an amount between 0 and $1 with a maximum of two decimal places.')" oninput="show_NI(this, this.value, out1)">
            </div>
        </td>
        <td id="out1" style="text-align: center">$ 1.00</td>
      </tr>
      <tr>
        <td>
            On a scale from 1 (Terrible) to 6 (Exceptional), the worker in this decision chose
            <span style="color: red">2 - Very poor</span> when answering the question: "Please indicate how well you think
            you did in guessing the accurate number of blue dots in the picture."
        </td>
        <td>
            <div class="sameline">
                $&nbsp<input type="number" class="numberinput" name="inv_vp" id="s2" min="0" max="1" step=".01" required oninvalid="this.setCustomValidity('Please enter an amount between 0 and $1 with a maximum of two decimal places.')" oninput="show_NI(this, this.value, out2)">
            </div>
        </td>
        <td id="out2" style="text-align: center">$ 1.00</td>
      </tr>
      <tr>
        <td>
            On a scale from 1 (Terrible) to 6 (Exceptional), the worker in this decision chose
            <span style="color: red">3 - Poor</span> when answering the question: "Please indicate how well you think
            you did in guessing the accurate number of blue dots in the picture."
        </td>
        <td>
            <div class="sameline">
                $&nbsp<input type="number" class="numberinput" name="inv_p" id="s3" min="0" max="1" step=".01" required oninvalid="this.setCustomValidity('Please enter an amount between 0 and $1 with a maximum of two decimal places.')" oninput="show_NI(this, this.value, out3)">
            </div>
        </td>
        <td id="out3" style="text-align: center">$ 1.00</td>
      </tr>
      <tr>
        <td>
            On a scale from 1 (Terrible) to 6 (Exceptional), the worker in this decision chose
            <span style="color: red">4 - Good</span> when answering the question: "Please indicate how well you think
            you did in guessing the accurate number of blue dots in the picture."
        </td>
        <td>
            <div class="sameline">
                $&nbsp<input type="number" class="numberinput" name="inv_g" id="s4" min="0" max="1" step=".01" required oninvalid="this.setCustomValidity('Please enter an amount between 0 and $1 with a maximum of two decimal places.')" oninput="show_NI(this, this.value, out4)">
            </div>
        </td>
        <td id="out4" style="text-align: center">$ 1.00</td>
      </tr>
      <tr>
        <td>
            On a scale from 1 (Terrible) to 6 (Exceptional), the worker in this decision chose
            <span style="color: red">5 - Very Good</span> when answering the question: "Please indicate how well you think
            you did in guessing the accurate number of blue dots in the picture."
        </td>
        <td>
            <div class="sameline">
                $&nbsp<input type="number" class="numberinput" name="inv_vg" id="s5" min="0" max="1" step=".01" required oninvalid="this.setCustomValidity('Please enter an amount between 0 and $1 with a maximum of two decimal places.')" oninput="show_NI(this, this.value, out5)">
            </div>
        </td>
        <td id="out5" style="text-align: center">$ 1.00</td>
      </tr>
      <tr>
        <td>
            On a scale from 1 (Terrible) to 6 (Exceptional), the worker in this decision chose
            <span style="color: red">6 - Exceptional</span> when answering the question: "Please indicate how well you think
            you did in guessing the accurate number of blue dots in the picture."
        </td>
        <td>
            <div class="sameline">
                $&nbsp<input type="number" class="numberinput" name="inv_exc" id="s6" min="0" max="1" step=".01" required oninvalid="this.setCustomValidity('Please enter an amount between 0 and $1 with a maximum of two decimal places.')" oninput="show_NI(this, this.value, out6)">
            </div>
        </td>
        <td id="out6" style="text-align: center">$ 1.00</td>
      </tr>
    </table>
</form>

<br>

<button class="otree-btn-next btn btn-primary">Next</button>

{% endblock %}