{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block styles %}
<link href="{% static 'global/quest.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<form>
    {{ form.riskpref.label }}
    <table class="table" id="demotable">
        <tr>
            <th>Not willing at all to take risks</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Very willing to take risks</th>
        </tr>
        <tr>
            {{ for choice in form.riskpref }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>
    <br>

    {{ form.diff.label }}
    <table class="table" id="demotable">
        <tr>
            <th>Not difficult at all</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Very difficult</th>
        </tr>
        <tr>
            {{ for choice in form.diff }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>
<br>
    <label for="be">
        How high do you think is the bonus you will receive (<i>Recall: You can earn a bonus payment of up to 300 Pence</i>)?
    </label>
    <div class="sameline">
        <input type="number" class="numberinput" name="bonusest" id="be" min="0" max="300" step="1" required oninvalid="this.setCustomValidity('Please enter a number between 0 and 300.')" oninput="this.setCustomValidity('')">&nbspPence
    </div>

    <br>
    <br>

    <p>
        <label for="i_w">
            Below you see two circles, respectively, of which one represents you and the other circle represents the
            worker you invested in. In the left upper corner (1), they are, e.g., totally separate. This represents a
            situation in which you do not identify at all with the worker. In the very lower part (7), the circles are
            totally overlapping and represent a situation in which you feel you fully identify with the worker.
        </label>
    </p>
    <p style="text-align: center">
        <img src="{{ static 'identificationCircles.png' }}" class="resp"/>
    </p>
    <div class="sameline">
        Figure&nbsp
        <input type="number" class="numberinput" name="ident_worker" id="i_w" min="1" max="7" required oninvalid="this.setCustomValidity('Please enter a number between 1 and 7.')" oninput="this.setCustomValidity('')">
        &nbspis the one that most highly represents the extent to which I identify with the worker I invested in.
    </div>

    <br>
    <br>

    <p>
        How well do the following statements describe you as a person?
    </p>

    <p style="padding-left: 10px">
        {{ form.reciprocity.label }}
    </p>
    <table class="table" id="demotable">
        <tr>
            <th>Does not describe me at all</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Describes me perfectly</th>
        </tr>
        <tr>
            {{ for choice in form.reciprocity }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>
    <p style="padding-left: 10px">
        {{ form.intentions.label }}
    </p>
    <table class="table" id="demotable">
        <tr>
            <th>Does not describe me at all</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Describes me perfectly</th>
        </tr>
        <tr>
            {{ for choice in form.intentions }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>

    <p>
        <label for="don">
            Imagine the following situation: Today you unexpectedly received 1000 Euro. How much of this amount would
            you donate to a good cause?
        </label>
    </p>
    <div class="sameline">
        <input type="number" class="numberinput" name="donation" id="don" min="0" max="1000" required oninvalid="this.setCustomValidity('Please enter an amount between 0 and 1000.')" oninput="this.setCustomValidity('')">
        &nbspEuro
    </div>

    <br>

    {{ form.wtgive.label }}
    <table class="table" id="demotable">
        <tr>
            <th>Completely unwilling to do so</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Very willing to do so</th>
        </tr>
        <tr>
            {{ for choice in form.wtgive }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>
    <br>

    <label for="eng">Are you a native English speaker?</label>
    <br>
    <select class="dropdown" name="native" id="eng" onchange="showproficiency(this.options[this.selectedIndex].value)" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
        <option value="" selected="selected">---------</option>
        <option value="1">No</option>
        <option value="2">Yes</option>
    </select>
    <br>
    <div id="proficiency"></div>

    <br>
<br>

    <label for="g">Please indicate your gender.</label>
    <br>
    <select class="dropdown" name="gender" id="g" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
        <option value="" selected="selected">---------</option>
        <option value="1">Female</option>
        <option value="2">Male</option>
        <option value="3">Other</option>
    </select>

    <br>
      <br>

    {{ form.stereotypes.label }}
    <table class="table" id="demotable">
        <tr>
            <th>Female</th>
            <th></th>
            <th></th>
            <th>None</th>
            <th></th>
            <th></th>
            <th>Male</th>
        </tr>
        <tr>
            {{ for choice in form.stereotypes }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>


    <br>
    <br>

    <label for="clarity_bin">Where the instructions in this study clear to you?</label>
    <br>
    <select class="dropdown" name="clarity_bin" id="clarity_bin" onchange="show_field(this.options[this.selectedIndex].value)" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
        <option value="" selected="selected">---------</option>
        <option value="1">No</option>
        <option value="2">Yes</option>
    </select>
    <br>
    <div id="clarity" style="display:none">
        {{ formfield 'clarity' }}
    </div>

      <br>
    <br>

    <label for="tech_bin">Do you think, everything was displayed to you correctly during this study?</label>
    <br>
    <select class="dropdown" name="tech_bin" id="tech_bin" onchange="show_field2(this.options[this.selectedIndex].value)" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
        <option value="" selected="selected">---------</option>
        <option value="1">No, I think something was not displayed correctly.</option>
        <option value="2">Yes, everything worked fine.</option>
    </select>
    <br>
    <div id="tech" style="display:none">
         {{ formfield 'tech' }}
    </div>
</form>

<br>

<button class="otree-btn-next btn btn-primary" id="next">Next</button>

<script>
function showproficiency(eng){
    if(eng==='1') {
        document.getElementById('proficiency').innerHTML = '' +
            '{{ form.eng_prof.label }}' +
            '<table class="table" id="demotable">' +
            '    <tr>' +
            '        <th>Basic</th>' +
            '        <th></th>' +
            '        <th></th>' +
            '        <th></th>' +
            '        <th></th>' +
            '        <th></th>' +
            '        <th>Fluent</th>' +
            '    </tr>' +
            '    <tr>' +
            '        {{ for choice in form.eng_prof }}' +
            '            <td>{{ choice }}</td>' +
            '        {{ endfor }}' +
            '    </tr>' +
            '</table>'
            // set required attribute once shown (for every node):
            for (let radio of forminputs.eng_prof) {
                radio.required = true;
            }
            }
            else {
            // remove required attribute again once hidden:
                for (let radio of forminputs.eng_prof) {
                    radio.required = false;
                }
                document.getElementById('proficiency').innerHTML='';
            }
        }

function show_field(clarity_bin){
    if (clarity_bin === '1') {
        document.getElementById('clarity').style.display = "block";
        }
    }

function show_field2(tech_bin){
    if (tech_bin === '1') {
        document.getElementById('tech').style.display = "block";
        }
    }
</script>

{% endblock %}
