{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block styles %}
<link href="{% static 'global/quest.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<ol>
<form>
   <li> {{ form.riskpref.label }} </li>
    <table class="table" id="demotable">
        <tr>
            <th>Not willing at all to take risks</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Very willing to take risks</th>
        </tr>
        <tr>
            {{ for choice in form.riskpref }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>
    <br>

  <li>  {{ form.diff.label }} </li>
    <table class="table" id="demotable">
        <tr>
            <th>Not difficult at all</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Very difficult</th>
        </tr>
        <tr>
            {{ for choice in form.diff }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>
<br>



    <p> <li>

        How high do you think is the bonus you will receive from part 1 of this study (<i>Recall: You can earn a bonus payment of up to £3.00</i>)?
    </li> </p>

    <div class="sameline">
        <input type="number" class="numberinput" name="bonusest_1" id="be1" min="0" max="3" step="0.01" required oninvalid="this.setCustomValidity('Please enter a number between 0 and 3.')" oninput="this.setCustomValidity('')">&nbspPence
    </div>

    <br>
    <br>
  <p>
        <li>

        How high do you think is the additional bonus you will receive from part 2 of this study (<i>Recall: You can earn an additional bonus payment of up to £1.00</i>)?
     </li> </p>
    <div class="sameline">
        <input type="number" class="numberinput" name="bonusest_2" id="be2" min="0" max="1" step="0.25" required oninvalid="this.setCustomValidity('Please enter a number between 0 and 1.')" oninput="this.setCustomValidity('')">&nbspPence
    </div>

    <br>
    <br>


  <li>   {{ form.stereotypes.label }} </li>
    <table class="table" id="demotable">
        <tr>
            <th>Female</th>
            <th></th>
            <th></th>
            <th>None</th>
            <th></th>
            <th></th>
            <th>Male</th>
        </tr>
        <tr>
            {{ for choice in form.stereotypes }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>
<br>
    <br>
<li>
    <p>

            Below you see two circles, respectively, of which one represents you and the other circle represents the
            worker you invested in. In the left upper corner (1), they are, e.g., totally separate. This represents a
            situation in which you do not identify at all with the worker. In the very lower part (7), the circles are
            totally overlapping and represent a situation in which you feel you fully identify with the worker.

    </p></li>
    <p style="text-align: center">
        <img src="{{ static 'identificationCircles.png' }}" class="resp"/>
    </p>
    <div class="sameline">
        Figure&nbsp
        <input type="number" class="numberinput" name="ident_worker" id="i_w" min="1" max="7" required oninvalid="this.setCustomValidity('Please enter a number between 1 and 7.')" oninput="this.setCustomValidity('')">
        &nbspis the one that most highly represents the extent to which I identify with the worker I invested in.
    </div>

    <br>
    <br>
<li>
    <p>
        How well do the following statements describe you as a person?
    </p> </li>

    <p style="padding-left: 10px">
        6.1 {{ form.reciprocity.label }}
    </p>
    <table class="table" id="demotable">
        <tr>
            <th>Does not describe me at all</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Describes me perfectly</th>
        </tr>
        <tr>
            {{ for choice in form.reciprocity }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>
    <p style="padding-left: 10px">
       6.2 {{ form.intentions.label }}
    </p>
    <table class="table" id="demotable">
        <tr>
            <th>Does not describe me at all</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Describes me perfectly</th>
        </tr>
        <tr>
            {{ for choice in form.intentions }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>
<li>
    <p>
            Imagine the following situation: Today you unexpectedly received 1000 GBP. How much of this amount would
            you donate to a good cause?
    </p> </li>
    <div class="sameline">
        <input type="number" class="numberinput" name="donation" id="don" min="0" max="1000" required oninvalid="this.setCustomValidity('Please enter an amount between 0 and 1000.')" oninput="this.setCustomValidity('')">
        &nbspGBP
    </div>

        <br>
<br>

   <li>Please indicate your gender. </li>
    <br>
    <select class="dropdown" name="gender" id="g" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
        <option value="" selected="selected">---------</option>
        <option value="1">Female</option>
        <option value="2">Male</option>
        <option value="3">Other</option>
    </select>
    <br>
    <br>



</form>
</ol>
<br>

<button class="otree-btn-next btn btn-primary" id="next">Next</button>
<br>
<br>

{% endblock %}
