{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block styles %}
<style>
.table#demotable {
        table-layout: fixed ;
        width: 100% ;
        align-content: center;
    }
    .table#demotable td {
        width: 50% ;
        padding: 10px ;
        align-content: center;
    }
    .table#demotable th {
        align-content: center;
        text-align: center;
        font-weight: normal;
    }
    .dropdown{
        width: auto;
        height: calc(2.25rem + 2px);
        display: block;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 2px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .numberinput{
        display: block;
        max-width: 50px;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    [class*="col-"] {
        width: 14%;
    }
    .row{
        width: 100%;
    }
    .sameline{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .btn {
        float: right
    }
</style>
{% endblock %}

{% block content %}

<form>
    {{ form.riskpref.label }}
    <table class="table" id="demotable">
        <tr>
            <th>Not willing at all to take risks</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Very willing to take risks</th>
        </tr>
        <tr>
            {{ for choice in form.riskpref }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>

    {{ form.diff.label }}
    <table class="table" id="demotable">
        <tr>
            <th>Not difficult at all</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Very difficult</th>
        </tr>
        <tr>
            {{ for choice in form.diff }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>

    <label for="be">
        How high do you think is the bonus you will receive (<i>Recall: You can earn a bonut payment of up to 3 GBP</i>)?
    </label>
    <div class="sameline">
        <input type="number" class="numberinput" name="bonusest" id="be" min="0" max="300" step="1" required oninvalid="this.setCustomValidity('Please enter a number between 0 and 300.')" oninput="this.setCustomValidity('')">&nbspcents
    </div>

    <br>

    <p>
        <label for="i_w">
            Below you see two circles, respectively, of which one represents you and the other circle represents the
            worker you invested in. In the left upper corner (1), they are, e.g., totally separate. This represents a
            situation in which you do not identify at all with the worker. In the very lower part (7), the circles are
            totally overlapping and represent a situation in which you feel you fully identify with the worker.
        </label>
    </p>
    <p style="text-align: center">
        <img src="{{ static 'identificationCircles.png' }}" class="resp"/>
    </p>
    <div class="sameline">
        Figure&nbsp
        <input type="number" class="numberinput" name="ident_worker" id="i_w" min="1" max="7" required oninvalid="this.setCustomValidity('Please enter a number between 1 and 7.')" oninput="this.setCustomValidity('')">
        &nbspis the one that most highly represents the extent to which I identify with the worker I invested in.
    </div>

    <br>
    <br>

    <p>
        How well do the following statements describe you as a person?
    </p>

    <p style="padding-left: 10px">
        {{ form.reciprocity.label }}
    </p>
    <table class="table" id="demotable">
        <tr>
            <th>Does not describe me at all</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Describes me perfectly</th>
        </tr>
        <tr>
            {{ for choice in form.reciprocity }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <p style="padding-left: 10px">
        {{ form.intentions.label }}
    </p>
    <table class="table" id="demotable">
        <tr>
            <th>Does not describe me at all</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Describes me perfectly</th>
        </tr>
        <tr>
            {{ for choice in form.intentions }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>

    <p>
        <label for="don">
            Imagine the following situation: Today you unexpectedly received 1,000 Euro. How much of this amount would
            you donate to a good cause?
        </label>
    </p>
    <div class="sameline">
        <input type="number" class="numberinput" name="donation" id="don" min="0" max="1000" required oninvalid="this.setCustomValidity('Please enter an amount between 0 and 1000.')" oninput="this.setCustomValidity('')">
        &nbspEuro
    </div>

    <br>

    {{ form.wtgive.label }}
    <table class="table" id="demotable">
        <tr>
            <th>Completely unwilling to do so</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Very willing to do so</th>
        </tr>
        <tr>
            {{ for choice in form.wtgive }}
                <td>{{ choice }}</td>
            {{ endfor }}
        </tr>
    </table>

    <br>

    <label for="eng">Are you a native English speaker?</label>
    <br>
    <select class="dropdown" name="native" id="eng" onchange="showproficiency(this.options[this.selectedIndex].value)" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
        <option value="" selected="selected">---------</option>
        <option value="1">No</option>
        <option value="2">Yes</option>
    </select>
    <br>
    <div id="proficiency"></div>

    <br>

    <label for="g">Please indicate your gender.</label>
    <br>
    <select class="dropdown" name="gender" id="g" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
        <option value="" selected="selected">---------</option>
        <option value="1">Female</option>
        <option value="2">Male</option>
        <option value="3">Other</option>
    </select>
</form>

<br>

<button class="otree-btn-next btn btn-primary" id="next">Next</button>

<script>
function showproficiency(eng){
    if(eng==='1') {
        document.getElementById('proficiency').innerHTML = '' +
            '{{ form.eng_prof.label }}' +
            '<table class="table" id="demotable">' +
            '    <tr>' +
            '        <th>Not willing at all to take risks</th>' +
            '        <th></th>' +
            '        <th></th>' +
            '        <th></th>' +
            '        <th></th>' +
            '        <th></th>' +
            '        <th>Very willing to take risks</th>' +
            '    </tr>' +
            '    <tr>' +
            '        {{ for choice in form.eng_prof }}' +
            '            <td>{{ choice }}</td>' +
            '        {{ endfor }}' +
            '    </tr>' +
            '</table>'
            // set required attribute once shown (for every node):
            for (let radio of forminputs.eng_prof) {
                radio.required = true;
            }
            }
            else {
            // remove required attribute again once hidden:
                for (let radio of forminputs.eng_prof) {
                    radio.required = false;
                }
                document.getElementById('proficiency').innerHTML='';
            }
        }
</script>

{% endblock %}
