{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Mentoring
{% endblock %}

{% block styles %}
<style>
    .box-container {
        display:flex;
        flex-direction: column;
    }
    .box1 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box2 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box3 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box4 {
        flex: 1;
        display: flex;
        height: 60px;
        margin: 5px 5px;
        background-color: #ccc;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
{% endblock %}

{% block scripts%}
<script>
    const boxes1 = document.querySelectorAll('.box1');
    const boxes2 = document.querySelectorAll('.box2');
    const boxes3 = document.querySelectorAll('.box3');
    const boxes4 = document.querySelectorAll('.box4');

    boxes1.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes1.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });
    boxes2.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes2.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });
    boxes3.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes3.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });
    boxes4.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            console.log('box clicked', event);
            boxes4.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });

    let b1 = false;
    let b2 = false;
    let b3 = false;
    let b4 = false;

    function sendValueTop(value) {
        liveSend({'section': 'top', 'value': value})
        b1 = true;
        checkCompletion();
    };
    function sendValueUM(value) {
        liveSend({'section': 'um', 'value': value})
        b2 = true;
        checkCompletion();
    };
    function sendValueLM(value) {
        liveSend({'section': 'lm', 'value': value})
        b3 = true;
        checkCompletion();
    };
    function sendValueBottom(value) {
        liveSend({'section': 'bottom', 'value': value})
        b4 = true;
        checkCompletion();
    };

    function checkCompletion() {
        if (b1 && b2 && b3 && b4) {
            document.getElementById('nb').style.display = 'block';
        }
    }
</script>
{% endblock %}

{% block content %}

    <p>
        Please indicate in the following, how you would advise the respective mentee to answer the question.
    </p>

<form>
    <p>
        <label for="m1">
            Your mentee is among the top 25% performers. What would you advice the mentee to answer to the following
            question? Please indicate your answer by pressing the respective box.
        </label>
    </p>
    <div class="box-container" id="m1">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box1" onclick="sendValueTop(1)">Terrible</div>
            <div class="box1" onclick="sendValueTop(2)">Very Poor</div>
            <div class="box1" onclick="sendValueTop(3)">Poor</div>
            <div class="box1" onclick="sendValueTop(4)">Good</div>
            <div class="box1" onclick="sendValueTop(5)">Very Good</div>
            <div class="box1" onclick="sendValueTop(6)">Exceptional</div>
        </div>
    </div>

    <br>

    <p>
        <label for="m2">
            Your mentee is between the 50% and the 25% performers. What would you advice the mentee to answer to the
            following question? Please indicate your answer by pressing the respective box.
        </label>
    </p>
    <div class="box-container" id="m2">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box2" onclick="sendValueUM(1)">Terrible</div>
            <div class="box2" onclick="sendValueUM(2)">Very Poor</div>
            <div class="box2" onclick="sendValueUM(3)">Poor</div>
            <div class="box2" onclick="sendValueUM(4)">Good</div>
            <div class="box2" onclick="sendValueUM(5)">Very Good</div>
            <div class="box2" onclick="sendValueUM(6)">Exceptional</div>
        </div>
    </div>

    <br>

    <p>
        <label for="m3">
            Your mentee is between the 75% and the 50% quartile performers. What would you advice the mentee to answer to
            the following question? Please indicate your answer by pressing the respective box.
        </label>
    </p>
    <div class="box-container" id="m3">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box3" onclick="sendValueLM(1)">Terrible</div>
            <div class="box3" onclick="sendValueLM(2)">Very Poor</div>
            <div class="box3" onclick="sendValueLM(3)">Poor</div>
            <div class="box3" onclick="sendValueLM(4)">Good</div>
            <div class="box3" onclick="sendValueLM(5)">Very Good</div>
            <div class="box3" onclick="sendValueLM(6)">Exceptional</div>
        </div>
    </div>

    <br>

    <p>
        <label for="m4">
            Your mentee is below the 75% percentile of performers. What would you advice the mentee to answer to the
            following question? Please indicate your answer by pressing the respective box.
        </label>
    </p>
    <div class="box-container" id="m4">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box4" onclick="sendValueBottom(1)">Terrible</div>
            <div class="box4" onclick="sendValueBottom(2)">Very Poor</div>
            <div class="box4" onclick="sendValueBottom(3)">Poor</div>
            <div class="box4" onclick="sendValueBottom(4)">Good</div>
            <div class="box4" onclick="sendValueBottom(5)">Very Good</div>
            <div class="box4" onclick="sendValueBottom(6)">Exceptional</div>
        </div>
    </div>
</form>

<br>

<button class="otree-btn-next btn btn-primary" id="nb" style="display: none">Next</button>

{% endblock %}


