{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Attention check
{% endblock %}

{% block styles %}
    <style>
        
    </style>
{% endblock %}

{% block content %}

<p>
    Please answer this question correctly.
</p>

<form>
    <div class="form-group required">
        <label class="col-form-label" for="id_testq_0">Who's the best student assistant?</label>
        <div class="controls  field-testq">
            <ul id="id_testq">
                <li>
                    <label for="id_testq_0">
                        <input type="radio" name="test1" value="1" required="" id="id_testq_0" class="form-check-input" oninvalid="this.setCustomValidity('Please choose an option.')" onclick="this.setCustomValidity('')">
                        Ben.
                    </label>
                </li>

                <li>
                    <label for="id_testq_1">
                        <input type="radio" name="test1" value="2" required="" id="id_testq_1" class="form-check-input" onclick="document.getElementById('id_testq_0').setCustomValidity('')">
                     Uwe.
                    </label>
                </li>

                <li>
                    <label for="id_testq_2">
                        <input type="radio" name="test1" value="3" required="" id="id_testq_2" class="form-check-input" onclick="document.getElementById('id_testq_0').setCustomValidity('')">
                     Bub.
                    </label>
                </li>

                <li>
                    <label for="id_testq_3">
                        <input type="radio" name="test1" value="4" required="" id="id_testq_3" class="form-check-input" onclick="document.getElementById('id_testq_0').setCustomValidity('')">
                     Buwe.
                    </label>
                </li>
            </ul>
        </div>
    </div>
</form>

<br>

<button class="otree-btn-next btn btn-primary">Next</button>

{% endblock %}