{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your bonus
{% endblock %}

{% block styles %}
<style>
    .btn {
        float: right
    }
</style>
{% endblock %}

{% block content %}

<p>
    Your bonus will depend on the investment your mentees receive. You will receive <b>2 x your mentees' bonus</b> for one
    randomly selected mentee.
</p>
<p>
    For example,
</p>
<ul>
    <li>
        If that mentee receives an investment of 0 GBP, you will receive 0 GBP
    </li>
    <li>
        If that mentee receives an investment of 1 GBP, you will receive 2 GBP
    </li>
    <li>
        If that mentee receives an investment of 2 GBP, you will receive 4 GBP
    </li>
</ul>
<p>
    In doing so, you will be provided with your mentee's guess.
</p>

<br>

<button class="otree-btn-next btn btn-primary">Next</button>


{% endblock %}