{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your task
{% endblock %}

{% block content %}

<p>
    In the following, you will be working as a mentor. You are matched with other workers, who had to guess the number
    of dots in a picture, similar to the one below (see figure 1).
</p>
<p>
    These workers' earnings depend on how much a third party investor invests in their guess.
</p>
<p>
    After having completed the task, these workers have to answer the following question:
</p>
<p>
    The worker’s answer to this question (<i>Please indicate how well you think you performed on the task</i>) will be shown
    to third party investors, who choose how much to invest in a worker’s guess. The investors earn more money,
    the better the guess of the worker they invested in is.
</p>
<p>
    As a mentor, it is your task now to advice the workers you have been matched to - your mentees - how to answer this
    question (<i>Please indicate how well you think you performed on the task</i>).
</p>

<br>

<button class="otree-btn-next btn btn-primary">Next</button>

{% endblock %}