{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your participation in this task
{% endblock %}

{% block styles %}
<style>
    .textinput{
    display: block;
    max-width: 400px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .btn {
        float: right
    }
</style>
{% endblock %}

{% block content %}

<p>
    If you wish to withdraw from the study, you can close your browser window at any time. If you wish to continue,
    please confirm the following:
</p>

<form>
    <label for="c1">
        <input type="checkbox" id="c1" value ="1" name="consent1" required oninvalid="this.setCustomValidity('If you do not agree, you cannot participate in the study.')" onclick="this.setCustomValidity('')">
        I have read and understood the instructions.
    </label>
    <br>
    <label for="c2">
        <input type="checkbox" id="c2" value ="1" name="consent2" required oninvalid="this.setCustomValidity('If you do not agree, you cannot participate in the study.')" onclick="this.setCustomValidity('')">
        I understand that my participation is totally voluntary. I am free to withdraw at any time without having to give a reason.
    </label>
    <br>
    <label for="c3">
        <input type="checkbox" id="c3" value ="1" name="consent3" required oninvalid="this.setCustomValidity('If you do not agree, you cannot participate in the study.')" onclick="this.setCustomValidity('')">
        I agree that the data gathered in this study may be stored anonymously and securely.
    </label>
    <br>
    <label for="c4">
        <input type="checkbox" id="c4" value ="1" name="consent4" required oninvalid="this.setCustomValidity('If you do not agree, you cannot participate in the study.')" onclick="this.setCustomValidity('')">
        I agree to take part in the study.
    </label>
</form>

<br>

<button class="otree-btn-next btn btn-primary">Next</button>

{% endblock %}