{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your advice
{% endblock %}

{% block styles %}
<link href="{% static 'global/buttons.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts%}
<script>
    const boxes1 = document.querySelectorAll('.box1');

    boxes1.forEach(box => {
        box.addEventListener('click', function handleClick(event) {
            boxes1.forEach(box => {
                box.setAttribute('style', 'background-color: #ccc;');
            });
            box.setAttribute('style', 'background-color: #6495ED;');
        });
    });

    let b1 = false;

    function sendValue(value) {
        liveSend(value)
        b1 = true;
        document.getElementById('error1').style.display = 'none';
        checkCompletion();
    };

    function validate() {
        if (!b1) {
            document.getElementById('error1').style.display = 'flex';
        }
    }

    function checkCompletion() {
        if (b1) {
            document.getElementById('nb').style.display = 'block';
            document.getElementById('fake').style.display = 'none';
        }
    }

    // Keep track of the currently opened page and the respective time:
    sessionStorage.setItem("task", "true")
</script>
{% endblock %}

{% block content %}
<div class="prevIns">
    <u>
        <a onclick="window.open('{% static 'PrevInsMentors.html' %}', '_blank', 'location=yes, height=570, width=520, scrollbars=yes, status=yes');">
            Click to review previous instructions
        </a>
    </u>
</div>

<p>
    Your advisee performed <span style="color: red"><b>{{ perf }}</b></span> in the randomly drawn group of 4.
</p>
<p>
    Please provide advice on how to answer the following question: <i>"Please indicate how well you think you did in
    guessing the number of blue dots in the picture"</i> below.
</p>
<p>
    The <b>investor will see your advisee's answer to this question, when deciding how much to invest</b>.
</p>

<br>

<form>
    <p>
        Please indicate <b>the answer your advisee should choose</b> when answering the following question:
    </p>
    <p>
        <label for="prom">
            <i>"Please indicate how well you think you did in guessing the number of blue dots in the picture"</i>:
        </label>
    </p>
    <div class="box-container" id="prom">
        <div class="row" style="margin-left: 10%; margin-right: 10%">
            <div class="box1" onclick="sendValue('terrible')">Terrible</div>
            <div class="box1" onclick="sendValue('very poor')">Very Poor</div>
            <div class="box1" onclick="sendValue('poor')">Poor</div>
            <div class="box1" onclick="sendValue('good')">Good</div>
            <div class="box1" onclick="sendValue('very good')">Very Good</div>
            <div class="box1" onclick="sendValue('exceptional')">Exceptional</div>
        </div>
        <div class="row errormessage" id="error1" style="display: none">
            <i>Please indicate your advice by choosing one of the options.</i>
        </div>
    </div>
</form>

<!--
<p>
    In the following it is your task to indicate how you would advise your mentee to answer the question <i>"Please
    indicate how well you think you did in guessing the accurate number of blue dots in the picture"</i>, given the
    mentee's guess was the first, second, third or fourth best guess comparing it to the randomly drawn 3 other
    workers from a prior task.
</p>

<form>
    <p>
        <label for="scenarios">
            Please indicate which advice you want to give to your mentee in the following scenarios:
        </label>
    </p>
    <table id="scenarios">
        <tr>
            <th>Scenario</th>
            <th>How would you advise your mentee to answer the question <i>"Please indicate how well you think you did
                in guessing the accurate number of blue dots in the picture"</i>? Please select your preferred answer.
            </th>
        </tr>
        <tr>
            <td>
                Given, your mentee’s guess is the <b>first best</b> in the randomly drawn group of 4.
            </td>
            <td style="text-align: center">
                <select class="dropdown" name="top" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
                    <option value="" selected="selected">---------</option>
                    <option value="terrible">Terrible</option>
                    <option value="very poor">Very Poor</option>
                    <option value="poor">Poor</option>
                    <option value="good">Good</option>
                    <option value="very good">Very Good</option>
                    <option value="excellent">Excellent</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Given, your mentee’s guess is the <b>second best</b> in the randomly drawn group of 4.
            </td>
            <td style="text-align: center">
                <select class="dropdown" name="uppermiddle" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
                    <option value="" selected="selected">---------</option>
                    <option value="terrible">Terrible</option>
                    <option value="very poor">Very Poor</option>
                    <option value="poor">Poor</option>
                    <option value="good">Good</option>
                    <option value="very good">Very Good</option>
                    <option value="excellent">Excellent</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Given, your mentee’s guess is the <b>third best</b> in the randomly drawn group of 4.
            </td>
            <td style="text-align: center">
                <select class="dropdown" name="lowermiddle" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
                    <option value="" selected="selected">---------</option>
                    <option value="terrible">Terrible</option>
                    <option value="very poor">Very Poor</option>
                    <option value="poor">Poor</option>
                    <option value="good">Good</option>
                    <option value="very good">Very Good</option>
                    <option value="excellent">Excellent</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Given, your mentee’s guess is the <b>fourth best</b> in the randomly drawn group of 4.
            </td>
            <td style="text-align: center">
                <select class="dropdown" name="bottom" required oninvalid="this.setCustomValidity('Please choose an option.')" oninput="this.setCustomValidity('')">
                    <option value="" selected="selected">---------</option>
                    <option value="terrible">Terrible</option>
                    <option value="very poor">Very Poor</option>
                    <option value="poor">Poor</option>
                    <option value="good">Good</option>
                    <option value="very good">Very Good</option>
                    <option value="excellent">Excellent</option>
                </select>
            </td>
        </tr>
    </table>
</form>
-->

<br>

<button type="button" class="otree-btn-next btn btn-primary" id="fake" onclick="validate()">Next</button>
<button class="otree-btn-next btn btn-primary" id="nb" style="display: none">Next</button>

{% endblock %}


